<ul><h2><%= @poem.title %></h2></ul>
<ul><p>Published date: <%= @poem.published_date %></p></ul>
<ul><p>Metaphore: <%= @poem.metaphore %></p></ul>

<hr>
<ul><p><%= @poem.content %></p></ul>
<hr>

<% tags = @poem.tags.order(:name) %>

<ul><Strong> Tags: </strong></ul>
<ul><%= render tags %></ul>
