<ul><h2><%=@short_story.title %></h2></ul>
<ul><p>Author: <%= link_to @short_story.author.name, author_path(@short_story.author) %></p></ul>
<ul><p>Published date: <%= @short_story.published_date %></p></ul>
<ul><p>Short description: <%= @short_story.short_description %></p></ul>

<hr>
<ul><p><%= @short_story.content %></p></ul>
<hr>

<% tags = @short_story.tags.order(:name) %>
<ul><Strong> Tags: </strong></ul>
<ul><%= render tags %></ul>
